@model ImageViewModel

@{
    ViewData["Title"] = "History data";
}
<link rel="stylesheet" type="text/css" href="~/css/home.css" />
<h1>@ViewData["Title"]</h1>

<p>This page displays historical data</p>

<ul>
    @foreach (var record in Model.Images)
    {
            <div class="message-item">
                <div class="timestamp">@record.Timestamp</div>
                <div class="image-container">
                    <img src="data:@record.Type;base64,@record.Url" alt="Message Image">
                </div>
            </div>

    }
</ul>
