@{
    ViewData["Title"] = "Home Page";
}

<div>
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
    <input type="text" id="path-input" placeholder="Enter directory path" />
    <button id="set-path-button">Set Path</button>
    <p id="path-info"></p>
    <div id="messages-container"></div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/messageHub")
            .build();

        connection.on("ReceiveMessage", function (message) {
            let [type, url, timestamp] = message.split(' | ');
            if (timestamp && url && type) {
                updateMessagesList(timestamp, url, type);
            }
        });

        connection.start().catch(function (err) {
            console.error(err.toString());
        });

        var lastReceivedTimestamp = 0;

        function updateMessagesList(timestamp, url, type) {
            var messagesList = $('#messages-container');
            var messageItem = $('<div>').addClass('message-item');
            var timestampDiv = $('<div>').addClass('timestamp').text(timestamp);
            var imageDiv = $('<div>').addClass('image-container');

            var image = $('<img>').attr('src', `data:${type};base64,${url}`).attr('alt', 'Message Image');

            imageDiv.append(image);
            messageItem.append(timestampDiv).append(imageDiv);
            messagesList.append(messageItem);
        }

        document.getElementById('set-path-button').addEventListener("click", function () {
            var path = document.getElementById('path-input').value;
            if (!path) {
                alert("Please enter a directory");
                return;
            }

            $.ajax({
                url: '/Home/SetWatchPath',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ path: path }),
                success: function (response) {
                    console.log('Success response:', response.message);
                    document.getElementById('path-info').innerHTML = response.message;
                    document.getElementById('path-info').innerHTML += ` Watching at "${path}"`;
                },
                error: function (xhr, status, error) {
                    console.log('Error status:', status);
                    console.log('Error response:', xhr.responseText);
                    document.getElementById('path-info').innerHTML = 'Error: ' + xhr.responseText;
                }
            });
        });

    </script>

}
