@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input type="text" id="path-input" placeholder="Enter directory path" />
    <button id="set-path-button">Set Path</button>
    <div id="messages-container"></div>
</div>

<style>
    #messages-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .message-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .timestamp {
        flex: 1;
        padding-right: 20px;
    }

    .image-container {
        flex: 2;
        text-align: right;
    }

    .image-container img {
        width: 100px;
        height: auto;
    }
</style>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/messageHub")
            .build();

        connection.on("ReceiveMessage", function (message) {
            console.log("Received: ", message);
        });

        connection.start().catch(function (err) {
            console.error(err.toString());
        });
    </script>
    <script>
        var lastReceivedTimestamp = 0;

        function updateMessagesList(timestamp, imagePath) {
            var messagesList = $('#messages-container');
            var messageItem = $('<div>').addClass('message-item');
            var timestampDiv = $('<div>').addClass('timestamp').text('Timestamp: ' + timestamp);
            var imageDiv = $('<div>').addClass('image-container');

            var image = $('<img>').attr('src', imagePath).attr('alt', 'Message Image');

            imageDiv.append(image);
            messageItem.append(timestampDiv).append(imageDiv);
            messagesList.append(messageItem);
        }

        document.getElementById('set-path-button').addEventListener("click", function () {
            var path = document.getElementById('path-input').value;
            if (!path) {
                alert("Please enter a directory");
                return;
            }

            $.ajax({
                url: '/Home/SetWatchPath',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ path: path }),
                success: function (response) {
                    console.log('Success response:', response.message);
                    document.getElementById('messages-container').innerHTML = response.message;
                    document.getElementById('messages-container').innerHTML += ` Watching at "${path}"`;
                },
                error: function (xhr, status, error) {
                    console.log('Error status:', status);
                    console.log('Error response:', xhr.responseText);
                    document.getElementById('messages-container').innerHTML = 'Error: ' + xhr.responseText;
                }
            });
        });

        @* setInterval(function () {
        $.ajax({
        url: '/Home/GetLatestMessages',
        type: 'GET',
        success: function (data) {
        var messagesList = $('#messages-container');
        var details = data?.split('|');
        if (details && details[1] !== lastReceivedTimestamp) {
        updateMessagesList(details[1], details[0].match(/images.*/)[0])
        lastReceivedTimestamp = details[1]
        }
        }
        });
        }, 5000); *@
    </script>
}
