@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input type="text" id="path-input" placeholder="Enter directory path" />
    <button id="set-path-button">Set Path</button>
    <p id="path-info"></p>
    <div id="messages-container"></div>
</div>

<style>
    #path-input {
        padding: 8px 12px;
        border: 2px solid #ccc;
        border-radius: 4px;
        width: 70%;
        margin-right: 10px;
        transition: border-color 0.3s;
    }

    #path-input:focus {
        border-color: #007BFF;
        outline: none;
    }

    #set-path-button {
        padding: 10px 20px;
        background-color: #007BFF;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #set-path-button:hover {
        background-color: #0056b3;
    }

    #path-info {
        color: #333;
        padding: 10px 0;
        font-size: 16px;
    }

    #messages-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .message-item {
        display: flex;
        flex: 0 0 20%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    .timestamp {
        flex: 1;
        padding-right: 20px;
    }

    .image-container {
        flex: 2;
        text-align: right;
    }

    .image-container img {
        min-width: 20%;
        height: auto;
    }
</style>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/messageHub")
            .build();

        connection.on("ReceiveMessage", function (message) {
            let [type, url, timestamp] = message.split(' | ');
            if (timestamp && url && type) {
                updateMessagesList(timestamp, url, type);
            }
        });

        connection.start().catch(function (err) {
            console.error(err.toString());
        });

        var lastReceivedTimestamp = 0;

        function updateMessagesList(timestamp, url, type) {
            var messagesList = $('#messages-container');
            var messageItem = $('<div>').addClass('message-item');
            var timestampDiv = $('<div>').addClass('timestamp').text(timestamp);
            var imageDiv = $('<div>').addClass('image-container');

            var image = $('<img>').attr('src', `data:${type};base64,${url}`).attr('alt', 'Message Image');

            imageDiv.append(image);
            messageItem.append(timestampDiv).append(imageDiv);
            messagesList.append(messageItem);
        }

        document.getElementById('set-path-button').addEventListener("click", function () {
            var path = document.getElementById('path-input').value;
            if (!path) {
                alert("Please enter a directory");
                return;
            }

            $.ajax({
                url: '/Home/SetWatchPath',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ path: path }),
                success: function (response) {
                    console.log('Success response:', response.message);
                    document.getElementById('path-info').innerHTML = response.message;
                    document.getElementById('path-info').innerHTML += ` Watching at "${path}"`;
                },
                error: function (xhr, status, error) {
                    console.log('Error status:', status);
                    console.log('Error response:', xhr.responseText);
                    document.getElementById('path-info').innerHTML = 'Error: ' + xhr.responseText;
                }
            });
        });

    </script>

}
