@{
    ViewData["Title"] = "Home Page";
}

<div id="messages-container"></div>

@section Scripts {
    <script>
        setInterval(function () {
            $.ajax({
                url: '@Url.Action("GetLatestMessages", "Home")',
                type: 'GET',
                success: function (data) {
                    var messagesList = $('#messages-container');
                    data && messagesList.append('<p>' + data + '</p>');
                }
            });
        }, 5000); 
    </script>
}
