#path-input {
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
    transition: border-color 0.3s;
}

#path-input:focus {
    border-color: #007BFF;
    outline: none;
}

#set-path-button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#set-path-button:hover {
    background-color: #0056b3;
}

#path-info {
    color: #333;
    padding: 10px 0;
    font-size: 16px;
}

#messages-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.message-item {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.timestamp {
    flex: 1;
    padding-right: 20px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

.image-container {
    flex: 2;
    text-align: right;
}

.timestamp,
.image-container img {
    min-width: 20%;
    height: auto;
}